<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>SalFoc - Brasília</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
        
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" href="../css/estilo.css" />

        
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="css/swiper.min.css">
        
        <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
        
        <script src="js/jquery-3.1.0.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="js/meuscript.js"></script>
        
    </head>
    <body>
    <div class="modalLogin">
        <div class="conteudoModalLogin">
            <div class="close">X</div>
            <label for="login">Usuário: </label> <input id="login" >
            <br/>
            <label for="senha">Senha: </label><input id="senha" type="password">
        </div>
    </div>
    
    <header class="topoSite">
        <h1>Salfoc - Brasília</h1>
        <nav class="menuPrincipal">
            <ul>
                <li><a href="javascript:void(0);"> Home </a></li>
                <li><a xpto="servicos" href="javascript:void(0);"> Servicos </a></li>
                <li><a href="javascript:void(0);"> Feira de adoção </a></li>
                <li><a href="javascript:void(0);"> Contato </a></li>
            </ul>
        </nav>
    </header>
    
    
    
    <section id="topo" class="banner">
        <h1>Bem Vindo ao Salva Focinhos</h1>
        <p>Adote um focinho</p>
        <a href="javascript:void(0)" class="btnPadrao">Entrar</a>
    </section>

    
    <section class="servicos container-fluid">
        <div class="container">
            <h1 class="tituloPadrao">Acesse o que deseja</h1>
            <div class="col-lg-4 col-md-12"> 
                <article>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h2>Adotante</h2>
                    <p>Pessoas interessadas na adoção de animais.</p>
                </article>
            </div>
            <div class="col-lg-4 col-md-12">            
                <article>
                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                    <h2>Protetor</h2>
                    <p>Resgatar, cuida e facilita a adoção.</p>
                </article>
            </div>
            <div class="col-lg-4 col-md-12">            
                <article>
                    <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                    <h2>Focinho</h2>
                    <p>Pefil do animal. </p>
                </article>
            </div>  
        </div>
    </section><!--Final da section servicos -->
    
    
    
    <section class="animaisadocao">
        <h1>Animais para Adoção</h1>
        <!-- Swiper -->
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(img/focinho.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/dog.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/dogcinza.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/gatotigrado.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/coelho.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/gatochapeu.jpg)"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(img/focinho.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/dog.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/dogcinza.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/gatotigrado.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/coelho.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(img/gatochapeu.jpg)"></div>
            </div>
        </div>
    </section>
    
    <section id="feira" class="feira">
        <h1>Próxima Feira</h1>
        <div id="map" class="mapagoogle" ></div>
    </section>

    <section id="formato" class="bloco-2 large-12 medium-12 small-12">
        <section class="columns large-8 medium-10 small-12 large-centered medium-centered small-centered">
            <h1>Formato da Feira 2</h1>
            <section class="item columns large-4 medium-4 small-12 left">
                <div class="icon-estande"></div>
                <h2>Feira de<br/> Neg&oacute;cios</h2>
                <p>Exposi&ccedil;&atilde;o em um ambiente prop&iacute;cio ao networking. Os melhores servi&ccedil;os, possibilidades de parceria e fornecedores.</p>
            </section>
            <section class="item columns large-4 medium-4 small-12 left">
                <div class="icon-microfone"></div>
                <h2>Palestras <br/>Pocket</h2>
                <p>Palestrantes especialistas de mercado falar&atilde;o e debater&atilde;o o tema:  Empreendedorismo e Inova&ccedil;&atilde;o.</p>
            </section>
            <section class="item columns large-4 medium-4 small-12 left">
                <div class="icon-selo"></div>
                <h2>Rodada de Neg&oacute;cios</h2>
                <p>Conhe&ccedil;a empresas locais em um ambiente comercial, de networking estrat&eacute;gico.*Apenas patrocinadores, Expositores e Parceiros.  In&iacute;cio as 16:00 no dia do evento.</p>
            </section>
        </section>
    </section>
    
    <section id="como-participar" class="bloco-5 large-12 medium-12 small-12">
        <h1 class="row large-7 medium-6 small-12 large-offset-2 medium-offset-1">Como Participar 2</h1>
        <div class="row trescol zero-padding large-11 medium-10 small-12 large-offset-2 large-centered medium-centered small-centered">     
            <div class="trescol columns large-3 medium-4 small-11 small-centered left">     
                <div class="seja-um-participante"></div>
                <a href="https://amchambrasilia.typeform.com/to/mXnPJa" target="_blank" class="insctwo large-12 medium-12 small-12">Inscreva-se <span class="fa-caret-right right"></span></a>
                <div class="bandeiratwo large-12 medium-12 small-12">Entrada franca</div>
            </div>
            <div class="trescol columns large-3 medium-4 small-11 left">        
                <div class="seja-um-expositor"></div>
                <a href="https://amchambrasilia.typeform.com/to/jr2hTP" target="_blank" class="insctwo large-12 medium-12 small-12">Reservar STAND<span class="fa-caret-right right"></span></a>
                <div class="bandeiratwo large-12 medium-12 small-12">DESCONTO PARA S&Oacute;CIOS AMCHAM</div>
            </div>
            <div class="trescol columns large-3 medium-4 small-11 left">        
                <div class="info">
                    <h4>Benef&iacute;cios <br/>& Reservas:</h4>
                    <p>Lorena Batista | (61) 2103-8654</p>
                    <p>lorena.batista@amchambrasil.com.br</p>
                    <p>Desenvolvimento de Neg&oacute;cios</p>
                </div>
            </div>
        </div>  
    </section>

    
    <script src="js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.swiper-button-next',
        slidesPerView: 'auto',
        centeredSlides: true,
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;
    
    </script>
    
    </body>
</html>